<div class="row">
  <div class="col-xs-12">
    <h1>Add new Servers or blueprints!</h1>
    <label>SERVER NAME:</label>
    <input type="text"  class="form-control" [(ngModel)]="newservername">
    <label >SERVER CONTENTS:</label>
    <input type="text" class="form-control" [(ngModel)]="newservercontent">
    <button  class="btn btn-primary" (click)="onServerAdded()">ADD SERVER</button>
    <br>
    <br>
    <button  class="btn btn-primary" (click)="onBluePrintAdded()">ADD BLUE PRINT</button>
  </div>
</div>
